
div.two_columns{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
div.one_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5%;

}
p.intro{
    text-align: justify;
}
#logotop{
    animation: rotation 10s infinite linear;
}
.tag{
    text-indent: 40px;
}

div.system_img{
}
div.system_funct{
}


@keyframes rotation {
    from {
      transform:fl rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }