---
layout: other
title: Welcome
permalink: /welcome/
---
<link rel="stylesheet" href="/public/css/welcome.css">
<div class = "welcome">
    <div class="one_column">
        <div id="logotop">
             <img src="/images/LogoTop.png" alt="Logo">
        </div>
        <div id="logbottom">
                <img src="/images/LogoBottom.png" alt="Logo">
        </div>

        <center><h1 >Meet N.E.A.T. — your personal butler robot</h1></center>
        <div class="two_columns">
            <div class="column">
            <div class="video_wrapper">
            
            <h2></h2>
                <video width="400" height="300" controls>
                    <source src="/videos/SDPPITCH.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
        </div></div>
        <div class="column"> 
                <div id="welcome_base_pic">
                <img src="/images/lego_base8.png" alt="Logo" >
        </div>
    </div>

       
        </div>
        
        <div class="column">
            <h3>Need a robot that helps you carry objects around your house?</h3>
            <p class="intro">
                    We have designed N.E.A.T to help you with exactly this. N.E.A.T. is an assistive relay robot designed for those with mobility issues which impede their ability to carry items as they walk. It consists of two main parts, the base and the mounted scissor lift system. We have tackled object avoidance, as well as implementing a follow feature using infrared sensors and an infrared beacon alongside a standard manual control mode. We have an improved lift mechanism that offers set heights for ease of use.
            </p>
        </div>
        <div class="column">
            <h3>How do you use N.E.A.T?</h3>
            <p class="intro">
                    To make things as simple as possible, your N.E.A.T will be controlled by a mobile application on your Android device. This application will give you manual control to move the base and the lift independently. It will also give you access to the “follow me” feature which, as the name suggests, will allow the robot to follow the user. The application will notify users if the robot encounters any issues and has been designed to comply with W3C accessibility standards. It also provides users with the capability to control their N.E.A.T. using voice commands for ease of use.
            </p>
        </div>
    </div>
    <div class="one_column">

    </div>
    <div class="two_columns">

    </div>
    
    <div class="parallax">

    </div>
    
</div>
